{% extends 'estore/base.html' %}

{% load static %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store-view' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order_items}}</strong></h5></th>
						<th><h5>Total:<strong> ${{order_total|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout-detail' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th scope="col" style="flex:2">Item</th>
						<th scope="col" style="flex:2">Price</th>
						<th scope="col" style="flex:2">Quantity</th>
						<th scope="col" style="flex:2">Total</th>
					</tr>
				</thead>
				<tbody>
				{% for c in cart %}
					<tr>
						<th scope="row">{% if c.product.imageURL == "" %}<img src="{% static 'img/broken_cart.jpg' %}" class="img-thumbnail" style="width: 200px">{%else%}<img class="row-image img-thumbnail" style="width: 200px" src="{{c.product.imageURL}}">{%endif%}</th>
						<td style="flex:1">{{c.product.name}}</td>
						<td style="flex:1">${{c.product.price|floatformat:2}}</td>
						<td style="flex:1">{{c.quantity}}</td>
						<td style="flex:1">${{c.get_total|floatformat:2}}</td>
						<td style="flex:1"><a type="button" class="btn btn-info" href="{% url 'cart-plus' c.product.id %}">+</a> <a type="button" class="btn btn-danger" href="{% url 'cart-minus' c.product.id %}">-</a> </td>
					</tr>
				{%endfor%}
				</tbody>
			</table>
			</div>
		</div>
	</div>
	{% if messages %}
	<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}