{% extends 'estore/base.html' %}

{% load static %}

{% block content %}
<div class="card">
    <div class="card-body text-center">
        <h1>{{object.name}}</h1>
    </div>
</div>
<div class="card d-flex">
    <div class="d-flex">
        <div class="text-start col-md-4 d-flex align-items-center">
            {% if object.imageURL != "" %}
            <img src="{{object.imageURL}}" class="img-thumbnail">
            {% else %}
            <img src="{% static 'img/broken_cart.jpg' %}" class="img-thumbnail rounded float-start">
            {% endif %}
        </div>
        <div class="mx-auto text-center">
            <h2>Description</h2>
            <p>{{object.description}}</p>
            <h3 class="card-body"><span class="badge rounded-pill bg-primary">PROMO</span> ${{object.price}}</h3>
            {% if object.digital == True %}
            <h2>It's a Digital Product !</h2>
            {% endif%}
            <h3 class="text-center">{% if object.quantity == 1 %}<span class="badge rounded-pill bg-danger">LAST UNIT</span> Quantity: {{object.quantity}} {% elif object.quantity == 0 %} <span class="badge rounded-pill bg-danger">SOLD OUT !</span> {%else%} <span class="badge rounded-pill bg-primary">NEW</span> Quantity: {{object.quantity}} {% endif %}</h3>
            <br>
            <h5>Seller: eStore</h5>
            <br>
            <form method="post">
                {% csrf_token %}
                {% if object.quantity > 0 %}
                <input class="btn btn-outline-primary add-btn update-cart" type="submit" name="add-cart" value="Add to Cart"/>
                <input class="btn btn-outline-danger add-btn update-cart" type="submit" name="delete-cart" value="Delete Item from Cart"/>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="text-center">
        <h3>Shipping Available</h3>
        <select>
            <option>--</option>
            {% for s in shipping %}
            <option>{{s}}</option>
            {% endfor %}
        </select>
        <h3>Write your ZIP Code</h3>
            <input type="text" id="zip_text">
            <input type="submit" onclick="calculateZip()" id="zip_calc" value="Check" placeholder="00000000">
        <h3>Shipping Total</h3>
        <p class="hidden" id="zip-total"></p>
</div>

<script>
    function calculateZip() {
        zip_len = document.getElementById("zip_text").value;
        if (zip_len.length == 8) {
            price = Math.floor(Math.random() * 50)
            days = Math.floor(Math.random() * 10)
            zip = document.getElementById("zip-total");
            zip.innerHTML = "$"+price + " and " + days + " Business Days";
            zip.classList.remove("hidden");
        } else {
            alert("ZIP Code is wrong !");
        }
    }
</script>



{% endblock content %}